<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= @article.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#">Blog SAAS</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'My Blog', articles_path, class: 'nav-link js-scroll-trigger' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit', edit_article_path(@article), class: 'nav-link js-scroll-trigger' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Article Details -->
  <div class="container">
  <h2><%= @article.title %></h2>
  <p><%= @article.text %></p>  <!-- Cambiado de content a text -->
  <p><small>Publicado el <%= @article.created_at.strftime("%B %d, %Y") %></small></p>
</div>

  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-below">
      <div class="container">
        <h3>Ingeniería en Telemática</h3>
      </div>
    </div>
  </footer>

  <script src="assets/jquery.min.js"></script>
  <script src="assets/bootstrap.bundle.min.js"></script>
</body>
</html>
